{{#if (equals item.type "rangedWeapon")}}
  <div class="weapon-ammo flexcol centerv centerh">
    <div class="flexrow centerv centerh">
      {{#if displayOnly}}
        <span>
          {{#if (exists loadedAmmo)}}
            {{item.system.ammoCurrent}}
          {{else}}
            <i class="fas fa-xmark-large neon-red"></i>
          {{/if}}
          /
          {{item.system.ammoMax}}
        </span>
      {{else}}
        {{#if (exists loadedAmmo)}}
          <input
            type="number"
            min="0"
            max="{{item.system.ammoMax}}"
            name="system.ammoCurrent"
            value="{{item.system.ammoCurrent}}"
            data-dtype="Number"
          />
        {{else}}
          <i class="fas fa-xmark-large neon-red"></i>
        {{/if}}
        <span>/</span>
        <input
          type="number"
          min="0"
          name="system.ammoMax"
          value="{{item.system.ammoMax}}"
          data-dtype="Number"
        />
      {{/if}}
    </div>
    {{#if (exists loadedAmmo)}}
      <img
        class="{{damageNeon loadedAmmo.system.damageType}}"
        src="systems/starclock/assets/ammo/{{loadedAmmo.system.ammoType}}.png"
        onerror="this.style.display='none'"
      />
      {{#if (inferior item.system.ammoCurrent item.system.ammoMax)}}
        <a
          class="reload-wpn {{#if (superior item.system.ammoCurrent 0)}}partial-mag{{/if}}"
          data-id="{{item._id}}"
        >
          <i class="fas fa-rotate neon-white"></i>
        </a>
      {{/if}}
    {{/if}}
  </div>
{{/if}}