<div class="flexrow item-damage centerv gap">
  <strong>{{localize "SCLK.Damage"}}</strong>
  <input
    type="text"
    name="system.damage"
    value="{{item.system.damage}}"
    data-dtype="Number"
  />
  <strong>P</strong>
  <input
    type="text"
    name="system.pierce"
    value="{{item.system.pierce}}"
    data-dtype="Number"
  />
  {{#select item.system.damageType}}
    {{#each config.damageType as |name type|}}
      <option value="{{type}}">{{localize name}}</option>
    {{/each}}
  {{/select}}
</div>