<div class="flexrow item-damage centerv gap">
  {{#if (exists item)}}
    <span title="{{localize "SCLK.Damage"}}">
      {{#if displayOnly}}
        <span>{{item.system.damage}}</span>
      {{else}}
        <input
          type="number"
          name="system.damage"
          value="{{item.system.damage}}"
          data-dtype="Number"
        />
      {{/if}}
      <i class="fas fa-hand-fist {{damageNeon item.system.damageType}}"></i>
    </span>
    <span title="{{localize "SCLK.Pierce"}}">
      {{#if displayOnly}}
        <span>{{item.system.pierce}}</span>
      {{else}}
        <input
          type="number"
          name="system.pierce"
          value="{{item.system.pierce}}"
          data-dtype="Number"
        />
      {{/if}}
      <i class="fas fa-explosion neon-yellow"></i>
    </span>
    {{#if displayOnly}}
      <span class="damage-type {{damageNeon item.system.damageType}}">
        {{localize (getKey @root/config.shortDamageType item.system.damageType)}}
      </span>
    {{else}}
      <select
        name="system.damageType"
        class="line-input"
      >
        {{selectOptions @root/config.damageType selected=item.system.damageType localize=true}}
      </select>
    {{/if}}
  {{else}}
    {{localize "SCLK.NoAmmoLoaded"}}
    <i class="fas fa-xmark-large neon-red"></i>
  {{/if}}
</div>
