<header class="item-header flexcol centerh centerv mgb">
  <img
    src="{{item.img}}"
    data-edit="img"
    title="{{item.name}}"
    class="full-picture{{#if neon}} neon-{{neon}}{{/if}}"
  />
  <label class="flexrow centerv neon-green-pseudo">
    <input
      type="text"
      name="name"
      value="{{item.name}}"
      class="pg"
      placeholder="{{ localize 'SCLK.ItemName' }}"
    />
  </label>
</header>
