<span class="item-qty">
  {{~#if displayOnly~}}
    x<strong>{{~#if multiStash~}}{{item.system.quantityStash}}{{else}}{{item.system.quantity}}{{/if}}</strong>
  {{else}}
    {{~#if multiStash~}}
      <label>
        <span>Stashed x</span>
        <input
          type="number"
          min="0"
          name="system.quantityStash"
          value="{{item.system.quantityStash}}"
          data-dtype="Number"
        />
      </label>
    {{else}}
      <label>
        <span>Owned x</span>
        <input
          type="number"
          min="0"
          name="system.quantity"
          value="{{item.system.quantity}}"
          data-dtype="Number"
        />
      </label>
    {{/if}}
  {{/if}}
</span>
