<div class="flexcol gap">
  <div class="flexrow flex-wrap gap">
    {{#each results as |dice|}}
      <div class="roll-result flexrow centerv centerh {{#if dice.success}}neon-green{{else}}neon-red{{/if}}{{#unless dice.mandatory}} bonus-dice{{/unless}}">
        {{dice.result}}
      </div>
    {{/each}}
  </div>
  <div class="flexrow gap">
    <strong>{{localize "SCLK.Complexity"}}: {{complexity}}</strong>
    <strong>{{localize "SCLK.Difficulty"}}: {{difficulty}}</strong>
  </div>
  {{#if isSuccess}}
    <strong class="roll-report flexrow centerv centerh neon-green">
      {{localize successKey}}
    </strong>
  {{else if isFumble}}
    <strong class="roll-fumble flexrow centerv centerh neon-red">
      {{localize fumbleKey}}
    </strong>
  {{else}}
    <strong class="roll-report flexrow centerv centerh neon-red">
      {{localize failureKey}}
    </strong>
  {{/if}}
</div>
