<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="flexcol lefth centerv gap gunroll-dialog pgb">
    <img src="{{ item.img }}" class="neon-pink"/>
    <div class="flexrow bottomv gap">
      <label class="flexcol centerh gap nowrap">
        <h4>{{ localize "SCLK.FiringRateTitle" }}</h4>
        <select name="firingRate" data-dtype="Number">
          {{#each config.firingRates as |name key|}}
            {{#if (exists (getKey ../item.system.firingRates key))}}
              <option
                value="{{key}}"
                {{#if (inferior ../item.system.ammoCurrent (getKey ../item.system.firingRates key))}} disabled{{/if}}
              >
                {{ localize name }}{{#if (superior (getKey ../item.system.firingRates key) 1)}} ({{getKey ../item.system.firingRates key}}){{/if}}
              </option>
            {{/if}}
          {{/each}}
        </select>
      </label>
      <label class="flexcol centerh gap nowrap">
        <h4>{{ localize "SCLK.RangeTitle" }}</h4>
        <select name="range" data-dtype="Number">
          {{#each config.ranges as |name key|}}
            <option value="{{sum 1 (getEachIndex)}}">
              {{ localize name }} {{ rangeMalus ../item }}
            </option>
          {{/each}}
        </select>
      </label>
    </div>
    <label class="flexrow centerv gap">
      <h4>{{ localize "SCLK.TargetArmor" }}</h4>
      <input
        name="targetArmor"
        type="number"
        value="{{#if loadedActor}}1{{else}}0{{/if}}"
        {{#if loadedActor}}disabled{{/if}}
        placeholder="0"
        min="0"
        data-dtype="Number"
      />
    </label>
    <label class="flexrow centerv gap">
      <h4>{{ localize "SCLK.TargetCover" }}</h4>
      <input name="cover" type="number" value="0" placeholder="0" min="0" data-dtype="Number" />
    </label>
    <div class="flexrow gap">
      {{> "systems/starclock/templates/common/dialog-checkbox.hbs" title=(localize "SCLK.Aiming") name="isAiming" }}
      {{> "systems/starclock/templates/common/dialog-checkbox.hbs" title=(localize "SCLK.MovingTarget") name="isMoving" }}
    </div>
  </div>
</form>
