<form class="{{cssClass}} character-tablet flexcol" autocomplete="off">
  <nav class="sheet-navigation tabs flexrow gap pgh pgb" data-group="primary">
    {{#each config.tabs as |name tab|}}
      <a class="item flexrow centerv centerh" data-tab="{{tab}}">
        <span>
          {{localize name}}
        </span>
      </a>
    {{/each}}
  </nav>
  <div class="flexrow character-tablet-middle">
    <section class="tab-content">
      {{~#each config.tabs as |name tab|}}
        <div
          class="tab {{tab}} flexcol topv pgb gap"
          data-group="primary"
          data-tab="{{tab}}"
        >
          {{> (actortab tab)}}
        </div>
      {{/each}}
    </section>
    <section class="character-infos flexcol neon-pink-pseudo">
      {{> "systems/starclock/templates/actors/parts/infos.hbs" }}
    </section>
  </div>
</form>
