{{#if (anyHasElements effects)}}
  <h2 class="neon-pink-pseudo flexrow">
    {{localize "SCLK.ActiveEffects"}}
    {{#if @root.editable}}
      <a class="effect-add">
        <i class="fas fa-plus"></i>
      </a>
    {{/if}}
  </h2>
  <ol class="item-list gap flexcol pgv">
    {{#each effects as |effect| }}
      <li class="active-effect item flexrow inventory-item gap centerv" data-effect-id="{{effect.id}}" data-entity-id="{{effect.id}}">
        <a class="effect-edit flexrow centerv" data-id="{{effect.id}}">
          <img class="inv-item-mini" src="{{effect.img}}"/>
          <div class="flexcol pg topv">
            <div class="flexrow">
              <h3 class="inv-item-name">{{effect.name}}</h3>
            </div>
          </div>
        </a>
        {{#if @root/owner}}
          <div class="item-controls flexcol neon-pink-pseudo centerv">
            <a
              class="item-control effect-delete flexrow centerv centerh pgh neon-green-hover"
              title="{{localize "SCLK.Delete"}}"
              data-id="{{effect.id}}"
            >
              <i class="fas fa-trash"></i>
            </a>
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ol>
{{else}}
  <h2 class="neon-pink-pseudo flexrow">
    {{localize "SCLK.ActiveEffectsNone"}}
    {{#if @root.editable}}
      <a class="effect-add">
        <i class="fas fa-plus"></i>
      </a>
    {{/if}}
  </h2>
{{/if}}
