<div class="resource-bar flexrow centerv centerh pseudobox neon-pink-pseudo {{barClass}}">
  <div class="resource-gauge" style="width: {{percentageOf currentValue maxValue}}%"></div>
  {{#if canModifyCurrent}}
    <input
      type="number"
      data-dtype="Number"
      class="bar-current"
      name="{{currentKey}}"
      value="{{currentValue}}"
      min="0"
      max="{{maxValue}}"
      {{~#if currentTitle}}title="{{currentTitle}}"{{/if}}
    />
  {{else}}
  <span class="bar-current">{{currentValue}}</span>
  {{/if}}
  <span class="bar-delimiter pgh">/</span>
  {{#if canModifyMax}}
    <input
      type="number"
      data-dtype="Number"
      class="bar-max"
      name="{{maxKey}}"
      value="{{maxValue}}"
      min="{{#if maxMin}}{{maxMin}}{{else}}0{{/if}}"
    />
  {{else}}
    <span class="bar-max">{{maxValue}}</span>
  {{/if}}
</div>
