<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/starclock/templates/items/parts/header-illustrated.hbs" neon="pink" }}
  <div class="flexcol topv item-body gap">
    {{> "systems/starclock/templates/items/parts/description.hbs" }}
    <div class="flexrow">
      <select
        name="system.weaponShape"
        class="line-input mgr"
      >
        {{#select item.system.weaponShape}}
          {{#each config.rangedWeaponTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
      <select
        name="system.ammoType"
        class="line-input mgl"
      >
        {{#select item.system.ammoType}}
          {{#each config.ammoTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="flexrow">
      {{#if @root/owner}}
        {{#if (anyHasElements availableAmmo)}}
          <select
            name="system.loadedAmmo"
            class="line-input mgr"
          >
            {{#select item.system.loadedAmmo}}
              <option>{{localize "SCLK.AmmoNone"}}</option>
              {{#each availableAmmo as |data key|}}
                <option value="{{data.id}}">{{data.name}}</option>
              {{/each}}
            {{/select}}
          </select>
        {{else}}
          <span>{{localize "SCLK.NoAmmoAvailable"}}</span>
        {{/if}}
      {{/if}}
      {{> "systems/starclock/templates/items/parts/damage.hbs" item=loadedAmmo displayOnly=true }}
    </div>
  </div>
</form>
