<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/starclock/templates/items/parts/header-illustrated.hbs" neon="pink" }}
  <div class="flexcol topv item-body">
    {{> "systems/starclock/templates/items/parts/description.hbs" }}
    <div class="flexrow mgv">
      <select
        name="system.weaponShape"
        class="line-input mgr"
      >
        {{#select item.system.weaponShape}}
          {{#each config.rangedWeaponTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
      <select
        name="system.ammoType"
        class="line-input mgl"
      >
        {{#select item.system.ammoType}}
          {{#each config.ammoTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    {{> "systems/starclock/templates/items/parts/damage.hbs" }}
  </div>
</form>
