<div class="character-aside flexrow">
  <div class="character-silhouette flexcol centerv centerh pgh">
    <img
      class="character-image neon-green"
      src="systems/starclock/assets/races/{{actor.system.race}}_sil_{{actor.system.bodyType}}.png"
    />
  </div>
  <div class="character-common-data flexcol topv gap">
    <div class="profile-img-wrapper neon-pink-pseudo">
      <img
        class="profile-img"
        data-edit="img"
        src="{{actor.img}}"
        title="{{actor.name}}"
      />
    </div>
    <label class="flexrow money-input bottomv neon-pink-pseudo">
      <input
        class="line-input"
        type="number"
        name="system.starCredits"
        value="{{@root/actor.system.starCredits}}"
        min="0"
        data-dtype="Number"
      />
      <h3 class="line-input pgl">{{localize "SCLK.StarCredits"}}</h3>
    </label>
    <h3 class="bar-title">{{ localize "SCLK.Stamina" }}</h3>
    {{>
      "systems/starclock/templates/common/resourcebar.hbs"
      currentValue=@root/actor.system.currentStamina
      currentKey="system.currentStamina"
      canModifyCurrent=true
      maxValue=@root/maxStamina
      barClass="stamina"
    }}
  </div>
</div>
