<div class="character-overview pseudobox flexcol pg mgb neon-pink-pseudo gap">
  <div class="flexrow bottomv pgh">
    {{localize "SCLK.MyNameIs"}}
    <input
      type="text"
      class="line-input mgl neon-white"
      name="name"
      value="{{@root/actor.name}}"
    />
  </div>
  <div class="flexrow bottomv pgh">
    {{localize "SCLK.RaceLabel"}}
    <select
      name="system.race"
      class="line-input mgh neon-white"
    >
      {{selectOptions @root/config.races selected=@root/actor.system.race localize=true}}
    </select>
    {{localize "SCLK.BodyTypeLabel"}}
    <select
      name="system.bodyType"
      class="line-input mgl neon-white"
    >
      {{selectOptions @root/config.bodyTypes selected=@root/actor.system.bodyType localize=true}}
    </select>
  </div>
  <div class="flexrow bottomv pgh">
    {{localize "SCLK.AgeLabel"}}
    <input
      type="number"
      class="line-input mgh neon-white"
      name="system.age"
      value="{{@root/actor.system.age}}"
    />
    {{localize "SCLK.HeightLabel"}}
    <input
      type="number"
      class="line-input mgl neon-white"
      name="system.heightMeters"
      value="{{@root/actor.system.heightMeters}}"
    />
    <span class="line-input pgh neon-white">m</span>
    <input
      type="number"
      class="line-input neon-white"
      name="system.heightCentimeters"
      min="0"
      max="99"
      value="{{@root/actor.system.heightCentimeters}}"
    />
    <span class="line-input pgl neon-white mgr">cm</span>
    {{localize "SCLK.HeightLabel2"}}
  </div>
</div>
<div class="flexrow attributes-list gap">
  {{#each @root/config.attributes as |name key|}}
    {{>
      "systems/starclock/templates/common/attribute-field.hbs"
      title=(localize (intersperse "." name "Name"))
      name=key
      value=(getKey @root/actor.system key)
      customClass=(concat "neon-" (attributeColor key) "-pseudo")
      dtype="number"
    }}
  {{/each}}
</div>
{{> "systems/starclock/templates/common/active-effects.hbs" effects=@root/effects}}
