<div class="flexcol gap">
  <h2 class="neon-pink-pseudo">{{localize "SCLK.SkillsHeader"}}</h2>
  <div class="flexrow attributes-list skills gap">
    {{#each @root/config.skills as |list key|}}
      <div class="skill-list flexrow flex-wrap gap">
        <h3 class="flexrow centerv centerh">
          <span class="neon-{{attributeColor key}}">&gt;</span>
          &nbsp;
          {{localize (intersperse "." (getKey @root/config.attributes key) "Name")}}
          &nbsp;
          <span class="neon-white">
            ({{getKey @root/availableSkillpoints key}})
          </span>
        </h3>
        {{#each list as |name skey|}}
          {{>
            "systems/starclock/templates/common/attribute-field.hbs"
            title=(localize (intersperse "." name "Name"))
            name=(intersperse "." "skills" key skey)
            value=(getKey (getKey @root/actor.system.skills key) skey)
            customClass=(concat "skill neon-" (attributeColor key) "-pseudo")
            max=(sum (getKey (getKey @root/actor.system.skills key) skey) (getKey @root/availableSkillpoints key))
          }}
        {{/each}}
      </div>
    {{/each}}
  </div>
  <h2 class="neon-pink-pseudo">{{localize "SCLK.CombatSkills"}}</h2>
  <div class="flexrow attributes-list skills gap">
    {{#each @root/config.combat as |name key|}}
      {{>
        "systems/starclock/templates/common/attribute-field.hbs"
        title=(localize name)
        name=(intersperse "." "combat" key)
        value=(getKey @root/actor.system.combat key)
        customClass="skill mastery neon-pink-after"
        max="3"
      }}
    {{/each}}
  </div>
  <h2 class="neon-pink-pseudo">{{localize "SCLK.WeaponMasteries"}}</h2>
  <div class="flexrow attributes-list masteries gap flex-wrap">
    {{#each (concat @root/config.meleeWeaponTypes @root/config.rangedWeaponTypes) as |name key|}}
      <label class="character-attribute flexcol pseudobox">
        <h4 class="mgb">{{localize name}}</h4>
        <div class="flexcol attribute-value centerv centerh">
          <input
            type="checkbox"
            name="system.weaponMasteries.{{key}}"
            {{#if (getKey @root/actor.system.weaponMasteries key)}}checked{{/if}}
            data-dtype="Boolean"
          />
        </div>
      </label>
    {{/each}}
  </div>
</div>
