<h2 class="neon-pink-pseudo">{{localize "SCLK.WeaponMasteries"}} ({{@root/availableWeaponMasteries}})</h2>
<div class="flexrow attributes-list masteries gap flex-wrap">
  {{#each (concat @root/config.meleeWeaponTypes @root/config.rangedWeaponTypes) as |name key|}}
    {{>
      "systems/starclock/templates/common/attribute-field.hbs"
      title=(localize name)
      name=(intersperse "." "weaponMasteries" key)
      value=(getKey @root/actor.system.weaponMasteries key)
      icon=(getKey @root/config.combatIcons key)
      disabled=(equals @root/availableWeaponMasteries 0)
      neonColor="white"
      dtype="boolean"
    }}
  {{/each}}
</div>
{{#if (anyHasElements @root/traits)}}
  <ol class="item-list gap flexcol">
    {{#each @root/traits as |traits key| }}
      <h2 class="neon-pink-pseudo">{{ localize key }}</h2>
      {{#each traits as |trait|}}
        <li class="item flexrow inventory-item gap centerv">
          <a class="item-edit flexrow centerv" data-id="{{trait._id}}">
            <img class="inv-item-mini" src="{{trait.img}}" />
            <div class="flexcol pg topv">
              <div class="flexrow">
                <h3 class="inv-item-name">{{trait.name}}</h3>
              </div>
            </div>
          </a>
          {{> "systems/starclock/templates/actors/parts/inventory/controls.hbs" item=trait }}
        </li>
      {{/each}}
    {{/each}}
  </ol>
{{else}}
  <h2 class="neon-pink-pseudo">{{localize "SCLK.TraitsNone"}}</h2>
{{/if}}