{{#if @root/owner}}
  <div class="item-controls flexcol neon-pink-pseudo">
    {{#if (equals item.type 'rangedWeapon')}}
      {{#if (equals item.system.reliability item.system.fumbleAmount)}}
        <a
          class="item-control item-repair flexrow centerv centerh pgh neon-green-hover"
          title="{{localize "SCLK.Repair"}}"
          data-id="{{item._id}}"
        >
          <i class="fas fa-wrench"></i>
        </a>
      {{else if (exists item.system.loadedAmmo)}}
        {{log item.system.loadedAmmo}}
        {{#if (superior item.system.ammoCurrent 0)}}
          {{#unless (equals item.system.stashed true)}}
            <a
              class="item-control gun-roll flexrow centerv centerh pgh neon-green-hover"
              title="{{localize "SCLK.Roll"}}"
              data-id="{{item._id}}"
            >
              <i class="fas fa-dice-six"></i>
            </a>
          {{/unless}}
        {{else}}
          <a
            class="item-control reload-wpn flexrow centerv centerh pgh neon-green-hover"
            data-id="{{item._id}}"
          >
            <i class="fas fa-rotate"></i>
          </a>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#and (equals item.type 'meleeWeapon') (notEquals item.system.stashed true)}}
      <a
        class="item-control melee-roll flexrow centerv centerh pgh neon-green-hover"
        title="{{localize "SCLK.Roll"}}"
        data-id="{{item._id}}"
      >
        <i class="fas fa-dice-six"></i>
      </a>
    {{/and}}
    {{#if (notEquals item.type "ammo")}}
      {{#if isStash}}
        <a
          class="item-control item-unstash flexrow centerv centerh pgh neon-green-hover"
          title="{{localize "SCLK.ActionUnstash"}}"
          data-id="{{item._id}}"
        >
          <i class="fas fa-sack"></i>
        </a>
      {{else}}
        <a
          class="item-control item-stash flexrow centerv centerh pgh neon-green-hover"
          title="{{localize "SCLK.ActionStash"}}"
          data-id="{{item._id}}"
        >
          <i class="fas fa-treasure-chest"></i>
        </a>
      {{/if}}
    {{/if}}
    <a
      class="item-control item-delete flexrow centerv centerh pgh neon-green-hover"
      title="{{localize "SCLK.Delete"}}"
      data-id="{{item._id}}"
    >
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/if}}