{{#if @root/owner}}
  <div class="item-controls flexcol neon-pink-pseudo">
    {{#and (equals item.type 'rangedWeapon') (exists item.system.loadedAmmo) (superior item.system.ammoCurrent 0)}}
      <a
        class="item-control gun-roll flexrow centerv centerh pgh neon-green-hover"
        title="{{localize SCLK.Roll}}"
        data-id="{{item._id}}"
        data-ammo="{{item.system.loadedAmmo}}"
      >
        <i class="fas fa-dice-six"></i>
      </a>
    {{/and}}
    {{#if (notEquals item.type "ammo")}}
      {{#if isStash}}
        <a
          class="item-control item-unstash flexrow centerv centerh pgh neon-green-hover"
          title="{{localize "SCLK.ActionUnstash"}}"
          data-id="{{item._id}}"
        >
          <i class="fas fa-sack"></i>
        </a>
      {{else}}
        <a
          class="item-control item-stash flexrow centerv centerh pgh neon-green-hover"
          title="{{localize "SCLK.ActionStash"}}"
          data-id="{{item._id}}"
        >
          <i class="fas fa-treasure-chest"></i>
        </a>
      {{/if}}
    {{/if}}
    <a
      class="item-control item-delete flexrow centerv centerh pgh neon-green-hover"
      title="{{localize "SCLK.Delete"}}"
      data-id="{{item._id}}"
    >
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/if}}