{{#each itemsList as |items sid|}}
  <h2 class="neon-pink-pseudo">{{ localize sid }}</h2>
  <ol class="item-list gap flexcol">
    {{#each items as |item iid|}}
      <li class="item flexrow inventory-item gap centerv" data-item-id="{{item._id}}">
        <a class="item-edit flexrow centerv" data-id="{{item._id}}">
          <img class="inv-item-mini" src="{{item.img}}" />
          <div class="flexcol pg topv">
            <div class="flexrow">
              <h3 class="inv-item-name">{{item.name}}</h3>
            </div>
          </div>
        </a>
        {{> "systems/starclock/templates/actors/parts/inventory/controls.hbs" item=item isStash=../../isStash }}
      </li>
    {{/each}}
  </ol>
{{/each}}
