{{#each itemsList as |items sid|}}
  <h2 class="neon-pink-pseudo">{{ localize sid }}</h2>
  <ol class="item-list gap flexcol">
    {{#each items as |item iid|}}
      <li class="item flexrow inventory-item weapon topv" draggable="true">
        <div class="item-infos flexcol topv pg">
          <div class="flexrow">
            <h3 class="inv-item-name">{{item.name}}</h3>
          </div>
          {{#if (equals item.type "rangedWeapon")}}
            {{> "systems/starclock/templates/items/parts/damage.hbs" item=item.loadedAmmoData displayOnly=true }}
          {{else}}
            {{> "systems/starclock/templates/items/parts/damage.hbs" item=item displayOnly=true }}
          {{/if}}
        </div>
        {{#and (equals item.type "rangedWeapon") (equals item.system.solidity item.system.fumbleAmount)}}
        <div class="item-jammed neon-red flexrow centerv centerh">
          {{ localize "SCLK.Damaged" }}
        </div>
        {{/and}}
        <a class="item-edit neon-pink neon-white-hover" data-id="{{item._id}}">
          <img
            class="item-img"
            src="{{item.img}}"
            draggable="false"
          />
        </a>
        {{#if (equals item.type "rangedWeapon")}}
          {{> "systems/starclock/templates/items/parts/ammo.hbs" item=item displayOnly=true loadedAmmo=item.loadedAmmoData }}
        {{/if}}
        {{> "systems/starclock/templates/actors/parts/inventory/controls.hbs" item=item isStash=../../isStash }}
      </li>
    {{/each}}
  </ol>
{{/each}}
